.inner-nav {
  background-color: #002d62;
  padding-top: 10px;
}

.inner-nav li {
  display: inline;
  color: white;
  padding: 50px;
  font-size: 1.4vw;
  font-family: "Montserrat";
}

.inner-nav a {
  color: white;
}

.inner-nav a:hover {
  color: red;
  text-decoration: none;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .navigator.col-md-12 {
    display: block;
  }
  #phone-menu {
    display: none;
  }
  .menu.material-icons {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navigator.col-lg-12 {
    display: block;
  }

  #phone-menu {
    display: none;
  }

  .menu.material-icons {
    display: none;
  }
}

@media (max-width: 599px) {
  .navigator.col-sm-12 {
    display: none;
  }
  .menu.material-icons {
    color: white;
  }
}

#menu {
  display: none;
  list-style-type: none;
  font-family: "Montserrat";
  color: white;
}

#menu li {
  border: 1px;
  padding: 10px;
}

.index-style {
  margin: 10px;
}

.cards {
  margin: 10px;
  margin-top: 40px;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
}

#footer-text {
  margin-top: 15px;
}

.test {
  padding: 40px;
  margin-top: 40px;
  height: 200px;
  color: black;
}

.test h1 {
  text-align: center;
  font-family: "sacramento";
  font-size: 100px;
}

.access {
  background-color: black;
}

.logs {
  margin-top: 15px;
}

.logs li:hover {
  color: red;
}

.logs li {
  margin-top: 20px;
  margin: 5px;
  list-style-type: none;
  color: white;
  font-family: "Montserrat";
  float: left;
}

#uploadTitle{
    text-align: center;
    color: black;
    font-size: larger;
    padding-top: 5%;
    text-decoration: underline;
}

#uploadMessage{
    text-align: center;
    padding-bottom: 5%;
}


#uploadBorder{
  border-radius: 25px;
  border: 3px solid #42464d;
  background-color: rgb(212, 211, 212);
  margin: auto;
  padding: 20px; 
  width: 40%;
  height: 450px; 
}

/* #uploadButtonBorder{
  border-radius: 10px;
  margin: auto;
  text-align: center;
  background-color: whitesmoke;
  color: black;
  border: 3px solid #42464d;
  padding: 20px; 
  width: 90%;
  height: 25%; 
} */

#uploadBtn{
    border-radius: 2px;
    margin: auto;
    text-align: center; border: 2px solid #42464d;
    width: 90%;
    height: 10%;
    font-size: 2vw;
    border-radius: 10px;
}

#uploadBtn:hover {
  background-color: rgb(73, 100, 180);
}

#textBox #label{
  border-radius: 2px;
  width: 90%;
  height: 80%;
  font-size: 2vw;
  border-radius: 10px;
}
