/*navigation menu bar <properties that all screen sizes share>*/
.menu-bar{
  border: 1px solid none;
  background-color: #163C75;
  height: 100px;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding:0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex; /*allows content to fit in one direction or another*/
  justify-content: space-around;
  align-items: center; /*places items in the center of the menu bar*/
  z-index: 1;
}
.products {
  margin-top: 100px;
}

#logo {
  font-size: 30px;
  width: 15%;
  margin-left: -250px;
  cursor: pointer; /*design pattern to encourage viewer to click*/
}

#logo #logo-link{
  text-decoration: none;
  color: #dc143c;
  font-weight: bold;
}

.menu-items{
  font-size: 18px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
  color: white;
}

.menu-items a{
  text-decoration: none;
  color:white;
}

.menu-items a:hover {
  color: #dc143c;
}

.nav-link {
  color: white;
}

.menu-icon{
  display: none; /*don't want icon visible when screen is larger than 800px*/
}

/*navigation menu bar <large screens(e.g macbook)>*/
@media screen and (min-width: 1600px) and (max-width: 5000px){
  .menu-bar{
      height: 80px;
  }

  #logo{
      font-size: 22px;
      margin-left: -180px;
  }

  .menu-items{
      font-size: 18px;
      width: 50%;
      margin-right: -200px;
  }

  /*banner on index page*/
  .banner{
    width: 100%; 
    height:200px ;
  }

}

/*navigation menu bar <medium screens>*/
@media screen and (min-width: 800px) and (max-width: 1600px){
  .menu-bar{
      height: 70px;
  }

  #logo{
      font-size: 16px;
      margin-left: -60px;
      width: 20%;
  }

  .menu-items{
      font-size: 12px;
      width: 50%;
      margin-right: -75px;
  }

  /*banner on index page*/
  .banner{
    width: 100%; 
    height:200px ;
  }
}

/*navigation menu bar <small screens (e.g mobile phone)>*/
@media screen and (max-width: 800px){
  .menu-bar{
      height: 80px;
  }

  #logo{
      font-size: 16px;
      width: 50%;
      margin-left: -30px;
      
  }

  /*we want the menu icon to show for small devices*/
  .menu-icon{
      display: block;
      width: 25px;
      color: white;
      cursor: pointer; /*design pattern to encourage viewer to click*/
  }
  
  /*menu items should not be visible*/
  .menu-items {
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #163c75;
    right: 0;
    height: 220px;
    top: 75px;
    display: none;
    flex-direction: column;
    font-size: 16px;
    width: 25%;
    transition: 0.3s;
    z-index: 1;
  }

  .show {
    display: flex;
  }

  /*banner on index page*/
  .banner{
    width: 100%; 
    height:200px ;
  }
}


/*css for body after header*/
.inner-nav {
  background-color: #002d62;
  padding-top: 10px;
}

.inner-nav li {
  display: inline;
  color: white;
  padding: 50px;
  font-size: 1.4vw;
  font-family: "Montserrat";
}

.inner-nav a {
  color: white;
}

.inner-nav a:hover {
  color: red;
  text-decoration: none;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .navigator.col-md-12 {
    display: block;
  }
  #phone-menu {
    display: none;
  }
  .menu.material-icons {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navigator.col-lg-12 {
    display: block;
  }

  #phone-menu {
    display: none;
  }

  .menu.material-icons {
    display: none;
  }
}

@media (max-width: 599px) {
  .navigator.col-sm-12 {
    display: none;
  }
  .menu.material-icons {
    color: white;
  }
}

#menu {
  display: none;
  list-style-type: none;
  font-family: "Montserrat";
  color: white;
}

#menu li {
  border: 1px;
  padding: 10px;
}

.index-style {
  margin: 10px;
}

.card a {
  color: black;
  text-decoration: none;
}

.cards {
  margin: 10px;
  margin-top: 40px;
}

/*footer fix :)*/
html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 4rem;
  min-height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
  color: white;
  height: 60px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
  color:white;
  height:60px;
}
/*end footer styling*/

.test {
  padding: 40px;
  margin-top: 40px;
  height: 200px;
  color: black;
}

.test h1 {
  text-align: center;
  font-family: "sacramento";
  font-size: 100px;
}

.access {
  background-color: black;
}

.logs {
  margin-top: 15px;
}

.logs li:hover {
  color: red;
}

.logs li {
  margin-top: 20px;
  margin: 5px;
  list-style-type: none;
  color: white;
  font-family: "Montserrat";
  float: left;
}

#uploadTitle {
  text-align: center;
  color: black;
  font-size: larger;
  padding-top: 2%;
  text-decoration: underline;
  margin-top: 60px;
}

#uploadMessage {
  text-align: center;
  padding-bottom: 2%;
}

#uploadBorder {
  border-radius: 25px;
  border: 3px solid #42464d;
  background-color: rgb(212, 211, 212);
  margin: auto;
  padding: 20px;
  width: 40%;
  height: 450px;
}

/* #uploadButtonBorder{
  border-radius: 10px;
  margin: auto;
  text-align: center;
  background-color: whitesmoke;
  color: black;
  border: 3px solid #42464d;
  padding: 20px;
  width: 90%;
  height: 25%;
} */

#uploadBtn {
  border-radius: 2px;
  margin: auto;
  text-align: center;
  border: 2px solid #42464d;
  width: 90%;
  height: 10%;
  font-size: 2vw;
  border-radius: 10px;
}

#uploadBtn:hover {
  background-color: rgb(73, 100, 180);
}

#textBox,
#label,
#submit {
  border-radius: 2px;
  width: 95%;
  height: 10vw;
  padding: 2%;
  font-size: 2vw;
  border-radius: 10px;
}

/* Profile page */
.profile_pic {
  padding: 10%;
  padding-left: 15%;
  padding-top: 15%;
}

.info {
  list-style: none;
  padding: 4%;
  padding-left: 10%;
}

#info_menu {
  font-family: "Montserrat";
  font-size: 25px;
}

.bookmark {
  border: 2px solid black;
  margin-top: 15%;
  margin-right: 5%;
  text-align: center;
  height: 80%;
  padding: 10px;
}

.bookmark p{
  font-size: larger;
}

#bookmark_menu {
  width: 95%;
  margin-left: 2%;
  margin-top: 5%;
  text-align: left;
  background-color: lightgrey;
  border: 0.3px solid black;
  box-shadow: 3px 3px 3px lightgrey;
}
/*Appliance
*/
.item-img {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.item-img img {
  width: 40%;
}

/*
contact
*/
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #002d62;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
  margin-top: 100px;
  width: 90%;
}

.request-form p {
  text-align: left;
}