/*navigation menu bar <properties that all screen sizes share>*/
.menu-bar{
  border: 1px solid none;
  background-color: #163C75;
  height: 100px;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding:0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex; /*allows content to fit in one direction or another*/
  justify-content: space-around;
  align-items: center; /*places items in the center of the menu bar*/
  z-index: 1;
}

#logo{
  color: white;
  font-weight: lighter;
  font-size: 26px;
  width: 15%;
  margin-left: -250px;
  cursor: pointer; /*design pattern to encourage viewer to click*/
}

#logo #logo-link{
  text-decoration: none;
  color: white;
}

.menu-items{
  font-size: 18px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
  color: white;
}

.menu-items a{
  text-decoration: none;
  color:white;
}

.nav-link{
  color: white;
}

.menu-icon{
  display: none; /*don't want icon visible when screen is larger than 800px*/
}

/*navigation menu bar <large screens(e.g macbook)>*/
@media screen and (min-width: 1600px) and (max-width: 5000px){
  .menu-bar{
      height: 80px;
  }

  #logo{
      font-size: 22px;
      margin-left: -180px;
  }

  .menu-items{
      font-size: 18px;
      width: 50%;
      margin-right: -200px;
  }
}

/*navigation menu bar <medium screens>*/
@media screen and (min-width: 800px) and (max-width: 1600px){
  .menu-bar{
      height: 70px;
  }

  #logo{
      font-size: 16px;
      margin-left: -60px;
      width: 20%;
  }

  .menu-items{
      font-size: 12px;
      width: 50%;
      margin-right: -75px;
  }
}

/*navigation menu bar <small screens (e.g mobile phone)>*/
@media screen and (max-width: 800px){
  .menu-bar{
      height: 80px;
  }

  #logo{
      font-size: 16px;
      width: 50%;
      margin-left: -30px;
      
  }

  /*we want the menu icon to show for small devices*/
  .menu-icon{
      display: block;
      width: 25px;
      color: white;
      cursor: pointer; /*design pattern to encourage viewer to click*/
  }
  
  /*menu items should not be visible*/
  .menu-items{
      position: fixed;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #163C75;
      right:0;
      height: 220px;
      top: 75px;
      display:none;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      width: 25%;
      transition: 0.3s;
  }

  /*class to get menu-items to display when hamburger is clicked*/
  .menu-items-show{
      position: fixed;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #163C75;
      right:0;
      height: 220px;
      top: 50px;
      display:none;
      flex-direction: column;
      text-align: center;
      width: 25%;
      transition: 0.3s;
  }
}




/*css for body after header*/
.inner-nav {
  background-color: #002d62;
  padding-top: 10px;
}

.inner-nav li {
  display: inline;
  color: white;
  padding: 50px;
  font-size: 1.4vw;
  font-family: "Montserrat";
}

.inner-nav a {
  color: white;
}

.inner-nav a:hover {
  color: red;
  text-decoration: none;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .navigator.col-md-12 {
    display: block;
  }
  #phone-menu {
    display: none;
  }
  .menu.material-icons {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navigator.col-lg-12 {
    display: block;
  }

  #phone-menu {
    display: none;
  }

  .menu.material-icons {
    display: none;
  }
}

@media (max-width: 599px) {
  .navigator.col-sm-12 {
    display: none;
  }
  .menu.material-icons {
    color: white;
  }
}

#menu {
  display: none;
  list-style-type: none;
  font-family: "Montserrat";
  color: white;
}

#menu li {
  border: 1px;
  padding: 10px;
}

.index-style {
  margin: 10px;
}

.cards {
  margin: 10px;
  margin-top: 40px;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
}

#footer-text {
  margin-top: 15px;
}

.test {
  padding: 40px;
  margin-top: 40px;
  height: 200px;
  color: black;
}

.test h1 {
  text-align: center;
  font-family: "sacramento";
  font-size: 100px;
}

.access {
  background-color: black;
}

.logs {
  margin-top: 15px;
}

.logs li:hover {
  color: red;
}

.logs li {
  margin-top: 20px;
  margin: 5px;
  list-style-type: none;
  color: white;
  font-family: "Montserrat";
  float: left;
}








/* Profile page */

.profile_pic {
  padding: 8%;
  padding-left: 15%;

}

.info {
  list-style: none;
  padding: 4%;
  padding-left: 10%;

}

#info_menu{
  font-family: "Montserrat";
  font-size: 25px;
}

.profile_info {

}

.bookmark {
  border: 2px solid black;
  margin-top: 5%;
  margin-right: 5%;
  text-align: center;
  height: 90%;
  padding: 10px;
}
